apiVersion: pipecd.dev/v1beta1
kind: Piped
spec:
  projectID: project-disable-test-3
  # FIXME: Replace here with your piped ID.
  pipedID: 4d895506-4f77-41fd-ac2c-39a247285812
  # Base64 encoded string of the piped private key.
  # FIXME: Replace here with your piped base64 key.
  pipedKeyData: MTh3emRrdXkwY3F2eXQ2OGQ4MW50a3FzMWdiZHIxdGljYmpnajc4eXFpc2JiOHNrbGM=
  # Write in a format like "host:443" because the communication is done via gRPC.
  # FIXME: Replace here with your piped address if you connect Piped to a control plane that does not run locally.
  apiAddress: localhost:8080
  repositories:
  - repoId: CD
    remote: https://github.com/Initify-v1/CD-test.git
    branch: main
  syncInterval: 1m
  platformProviders:
  - name: my-cloudrun
    type: CLOUDRUN
    config:
      project: groovy-height-404319
      region: europe-west1
