apiVersion: pipecd.dev/v1beta1
kind: Piped
spec:
  projectID: quickstart
  # FIXME: Replace here with your piped ID.
  pipedID: b9172bcd-5d87-4072-9687-e49c698ccd54
  # Base64 encoded string of the piped private key.
  # FIXME: Replace here with your piped base64 key.
  pipedKeyData: cW83NjJrcmRkZmE0ZGd2N3V3NDJtc2d1Nm0wbzFtMDQ4cnk2aXQ5dGpuY2xvZ294amk=
  # Write in a format like "host:443" because the communication is done via gRPC.
  # FIXME: Replace here with your piped address if you connect Piped to a control plane that does not run locally.
  apiAddress: localhost:8080
  repositories:
  - repoId: CD
    remote: https://github.com/Initify-v1/CD-test.git
    branch: main
  syncInterval: 1m
  platformProviders:
  - name: my-cloudrun
    type: CLOUDRUN
    config:
      project: groovy-height-404319
      region: europe-west1
